@import '~antd/dist/antd.css';

*, body {
    box-sizing: border-box;
}

.app-container {
    position: relative;
    margin: 100px auto 0;
    max-width: 1080px;

    .file-container {
        margin: 20px 0;
    }
}